In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
ter=pd.read_csv("terror.csv",encoding="latin",low_memory=False)

In [3]:
# Q.2)How many attacks happened in India?
sum(ter.country_txt=='India')

9940

In [4]:
# Q.2)How many attacks happened in India and upto 3 people were killed?

ter.query("nkill<=3 and country_txt=='India'").shape[0]

8362

In [5]:
# Extract the city and summary for attacks above
ter.query("nkill<=3 and country_txt=='India'")[["city","summary"]].dropna(axis=0)

                     city                                            summary
67453           New Delhi  01/09/1998: At least 44 people were injured, t...
67555          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67556          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67557          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67558          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67559          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67560          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67561          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67562          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67563          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67564          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67565          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67566          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67600              Mumbai  02/27/1998: A bomb, concealed in a briefcase, ...
67601              Mumbai  02/27/1998: A bomb killed one person and injur...
67602               Virar  02/27/1998: One person died and another two we...
67948             Amarpur  08/02/1998: National Liberation Front of Tripu...
67976            Srinagar  08/04/1998: Unknown perpetrators lobbed a gren...
67977   Udhampur district  08/04/1998: Unknown perpetrators shot three Hi...
68047            Guwahati  08/24/1998: Three people were killed and 20 in...
68116          Saraikhola  09/25/1998: One person was killed when unknown...
68118            Srinagar  09/25/1998: Two Border Security Force (BSF) pe...
68156            Chawmanu  10/08/1998: Members of the National Liberation...
68213           Safa Pora  10/23/1998: An senior army official was killed...
68298            Srinagar  11/19/1998: Fifteen people were injured in a h...
68308            Anantnag  11/21/1998: A grenade was lobbed at a police s...
68319   Tinsukia district  11/26/1998: A huge explosion destroyed a diese...
68323               Nalli  11/27/1998: The United Liberation Front of Ass...
68324    Darrang District  11/27/1998: The United Liberation Front of Ass...
68375              Pattan  01/04/1999: Reported Islamic militants fired f...
...                   ...                                                ...
156156         Dariyakona  12/15/2015: Assailants abducted Baghel Gond fr...
156176           Awapalli  12/15/2015: An explosive device detonated in A...
156243           Srinagar  12/17/2015: Assailants fired a rifle grenade a...
156248             Imphal  12/17/2015: An explosive device detonated in D...
156249       Williamnagar  12/17/2015: Assailants threw a grenade at a st...
156292     Pookottumpadam  12/18/2015: Assailants attacked an Indian Fore...
156314        Kalia Atala  12/19/2015: Assailants torched an Airtel cell ...
156339           Chipakur  12/20/2015: Assailants torched an under-constr...
156340            Kakpora  12/20/2015: Assailants threw a grenade at the ...
156383    Bastar district  12/21/2015: Security forces arrested three ass...
156384       Madathakonda  12/21/2015: Assailants abducted and killed Van...
156385       Madathakonda  12/21/2015: Assailants beat a civilian in Mada...
156388       Badapokharia  12/21/2015: Assailants threw at least nine cru...
156389      Simra Nizamat  12/21/2015: Police discovered and defused two ...
156433             Imphal  12/22/2015: Assailants shot and killed a baker...
156458           Nilawaya  12/23/2015: Assailants abducted Hadma Ram, a f...
156459             Imphal  12/23/2015: An explosive device planted under ...
156483          Bijbehara  12/24/2015: Assailants opened fire on police p...
156499            Ramgarh  12/24/2015: Assailants detonated explosive dev...
156529          Badapadar  12/25/2015: Assailants attacked Jayaram Khara ...
156530  Kudumulgumma Raba  12/25/2015: Assailants attacked Sahdev Badanay...
156533          Sivasagar  12/25/2015: Security forces discovered and def...
156569             Pariya  12/26/2015: Assailants abducted Sujit Modiyami...
156612           Tillayya  12/26/2015: An assailant attempted to plant an...
156658            Mendhar  12/27/2015: An explosive device planted under ...
156695              Terem  12/29/2015: Assailants abducted three students...
156698         Peravurani  12/29/2015: An explosive device was discovered...
156713          Tulsibari  12/29/2015: Assailants abducted Hazrat Ali in ...
156725            Zhutovi  12/30/2015: Assailants attempted to extort mon...
156756           Srinagar  12/31/2015: Assailants threw a grenade at an I...

[6246 rows x 2 columns]

In [6]:
# Q.4)In a single terror incident in India, find out top 5 cities by number killed

ter.query("country_txt=='India' and city!='Unknown'").sort_values(by="nkill",ascending=False).head(5).city

81000                Mumbai
96598               Jhargam
54339                Bombay
95860    Dantewada district
56837              Banabari
Name: city, dtype: object

In [7]:
#Q.5)In a single terror incident in India, find out top 5 cities by number killed and wounded 
ter2=ter.query("country_txt=='India'")
ter2['total']=ter2.nkill+ter2.nwound
ter2.sort_values(by='total',ascending=False).head(5).city

81000       Mumbai
89128       Dispur
96598      Jhargam
30378      Chennai
79045    New Delhi
Name: city, dtype: object

In [8]:
#How many attacks were successful that were suicide attacks?
ter.query("suicide==1 and success==1").shape[0]

4260

In [9]:
#label all the incidents where the number killed was more than 5 as severe. 
ter["label"]=""
ter.label[ter.nkill>5]="severe"

In [10]:
#) write a function to label an incident that was both successful and suicidal
def func(ter):
    ter.label[np.logical_and(ter.success==1,ter.suicide==1)]="suicide_success"
func(ter)

In [11]:
#Q.9)Create a new category representing if the incident occured in Afghanistan, Pakistan or India 
#as one level of the category and all the other countries as another level
ter["category"]=""
ter.category[(ter.country_txt=='India') | (ter.country_txt=='Afghanistan') | (ter.country_txt=='Pakistan')]="Af-Pak-India"
ter.category[(ter.country_txt!='India') & (ter.country_txt!='Afghanistan') & (ter.country_txt!='Pakistan')]="ROW"

In [12]:
#Q.10)How many incidents happened in Af-Pak-India vs ROW?
print("Af-Pak-India= ",sum(ter.category=="Af-Pak-India"), "ROW= ",sum(ter.category=="ROW"))

Af-Pak-India=  32398 ROW=  124374

In [13]:
#Q.11)List the number of suicides attacks and average kills by Af-Pak-India vs ROW.
# Rename columns in the output as Average_Kills and Number_Incidents

ter.groupby("category").agg({'suicide':np.sum,'nkill':np.mean})

              suicide     nkill
category
Af-Pak-India     1462  2.105574
ROW              3309  2.428727